{% extends 'survey/base.html' %}
{% load cutom_tags %}
{% block content %}
    <h5>Questions in Survey</h5>
    <form class="form-horizontal" method="post" action="{% url 'saveSurveyAnswers'  survey_id %}">
      {% csrf_token %}
        <div class="card">
            <ul class="list-group">
                {% if survey_questions_list %}
                    {% for question in survey_questions_list %}
                    <li class="list-group-item">{{question.question_id}}<br>
                        {% if choices|in_category:question.question_id_id %}
                            <ol>
                            {% for choice in choices|in_category:question.question_id_id%}
                                <li><label><input type="radio" name="{{question.question_id_id}}" value="{{ choice }}" required> {{choice}}</label></li>
                            {% endfor %}
                            </ol>
                        {% else %}
                            <input type="text" name="{{question.question_id_id}}" class="form-control" placeholder="Enter answer" required>
                        {% endif %}
                    </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">Survey does't have questions</li>
                {% endif %}
            </ul>
        </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>

    <div class="pagination pagination-lg">
                <span class="step-links">
                    {% if survey_questions_list.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ survey_questions_list.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ survey_questions_list.number }} of {{ survey_questions_list.paginator.num_pages }}.
                    </span>

                    {% if survey_questions_list.has_next %}
                        <a href="?page={{ survey_questions_list.next_page_number }}">next</a>
                        <a href="?page={{ survey_questions_list.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
{% endblock %}